<%- include('../partials/upper.ejs') %>
    <style>
        #contactCard{
            margin-top: 50px;
            width: 250px;
            border-radius: 30px;
            -webkit-box-shadow: -1px 4px 31px -8px rgba(0,0,0,0.42);
            -moz-box-shadow: -1px 4px 31px -8px rgba(0,0,0,0.42);
            box-shadow: -1px 4px 31px -8px rgba(0,0,0,0.42);
            padding: 20px;
        }

    </style>
    <center>
        <div id="contactCard">
            <h2>Reach us at</h2>
            <h4>support@kicksup.com <br>
            <span style="font-size: 16px;">for any technical support</span>
            </h4>
            <h4>info@kicksup.com <br>
                <span style="font-size: 16px;">for more information</span>
            </h4>
            <h4>feedback@kicksup.com <br>
                <span style="font-size: 16px;">to send your feedback</span>
            </h4>
            <h4>jobs@kicksup.com <br>
                <span style="font-size: 16px;">to work with us</span>
            </h4>
        </div><br>
        <div>
            Stay in touch
            <br>
            <img style="border-radius: 50%; margin: 5px;" width="23" src="assets/socialIcons/facebook.png" alt="">
            <img style="border-radius: 50%; margin: 5px;" width="23" src="assets/socialIcons/twitter.png" alt="">
            <img style="border-radius: 50%; margin: 5px;" width="23" src="assets/socialIcons/instagram.png" alt="">

        </div>
    </center>
<%- include('../partials/lower.ejs') %>