<%- include('../partials/upper.ejs') %>

<style>
    body{
        background: url('assets/shoebackground.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
    <div style="margin-top: 40px;">
        <h1 style="font-size: 50px;text-align: center;font-family:monospace;">Welcome to Picksup</h1>
        <h2  style="font-size: 30px;text-align: center;font-family:monospace;">[Complete shopping solution]</h2>
    </div>

<%- include('../partials/lower.ejs') %>